################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Visit.API/obj
/Visit.BLL/obj
/Visit.DAL/obj
/Visit.Shared/obj
/Visit.UI/obj
/Visit.UI/bin/Debug
/Visit.Shared/bin/Debug
/Visit.API/bin/Debug/net8.0
/Visit.BLL/bin/Debug
/Visit.DAL/bin/Debug
/DAL.Core/obj
